[submodule ".registry"]
	path = .registry
	url = https://github.com/paws-r/paws-r.r-universe.dev
	branch = HEAD
[submodule "paws"]
	path = paws
	url = https://github.com/paws-r/paws
	subdir = cran/paws
[submodule "paws.analytics"]
	path = paws.analytics
	url = https://github.com/paws-r/paws
	subdir = cran/paws.analytics
[submodule "paws.application.integration"]
	path = paws.application.integration
	url = https://github.com/paws-r/paws
	subdir = cran/paws.application.integration
[submodule "paws.business.applications"]
	path = paws.business.applications
	url = https://github.com/paws-r/paws
	subdir = cran/paws.business.applications
[submodule "paws.common"]
	path = paws.common
	url = https://github.com/paws-r/paws
	subdir = paws.common
[submodule "paws.compute"]
	path = paws.compute
	url = https://github.com/paws-r/paws
	subdir = cran/paws.compute
[submodule "paws.cost.management"]
	path = paws.cost.management
	url = https://github.com/paws-r/paws
	subdir = cran/paws.cost.management
[submodule "paws.customer.engagement"]
	path = paws.customer.engagement
	url = https://github.com/paws-r/paws
	subdir = cran/paws.customer.engagement
[submodule "paws.database"]
	path = paws.database
	url = https://github.com/paws-r/paws
	subdir = cran/paws.database
[submodule "paws.developer.tools"]
	path = paws.developer.tools
	url = https://github.com/paws-r/paws
	subdir = cran/paws.developer.tools
[submodule "paws.end.user.computing"]
	path = paws.end.user.computing
	url = https://github.com/paws-r/paws
	subdir = cran/paws.end.user.computing
[submodule "paws.game.development"]
	path = paws.game.development
	url = https://github.com/paws-r/paws
	subdir = cran/paws.game.development
[submodule "paws.internet.of.things"]
	path = paws.internet.of.things
	url = https://github.com/paws-r/paws
	subdir = cran/paws.internet.of.things
[submodule "paws.machine.learning"]
	path = paws.machine.learning
	url = https://github.com/paws-r/paws
	subdir = cran/paws.machine.learning
[submodule "paws.management"]
	path = paws.management
	url = https://github.com/paws-r/paws
	subdir = cran/paws.management
[submodule "paws.media.services"]
	path = paws.media.services
	url = https://github.com/paws-r/paws
	subdir = cran/paws.media.services
[submodule "paws.migration"]
	path = paws.migration
	url = https://github.com/paws-r/paws
	subdir = cran/paws.migration
[submodule "paws.mobile"]
	path = paws.mobile
	url = https://github.com/paws-r/paws
	subdir = cran/paws.mobile
[submodule "paws.networking"]
	path = paws.networking
	url = https://github.com/paws-r/paws
	subdir = cran/paws.networking
[submodule "paws.robotics"]
	path = paws.robotics
	url = https://github.com/paws-r/paws
	subdir = cran/paws.robotics
[submodule "paws.security.identity"]
	path = paws.security.identity
	url = https://github.com/paws-r/paws
	subdir = cran/paws.security.identity
[submodule "paws.storage"]
	path = paws.storage
	url = https://github.com/paws-r/paws
	subdir = cran/paws.storage
